# default: off
# description: The tftp server serves files using the trivial file transfer \
#	protocol.  The tftp protocol is often used to boot diskless \
#	workstations, download configuration files to network-aware printers, \
#	and to start the installation process for some operating systems.
service tftp
{
	socket_type		= {{ tftp_server_socket_type if tftp_server_socket_type is defined else 'dgram' }}
	protocol		= {{ tftp_server_protocol if tftp_server_protocol is defined else 'udp' }}
	wait			= {{ 'yes' if tftp_server_wait is defined and tftp_server_wait else 'no' }}
	user			= {{ tftp_server_user if tftp_server_user is defined else 'root' }}
	server			= {{ tftp_server_server if tftp_server_server is defined else '/usr/sbin/in.tftpd' }}
	server_args		= {{ tftp_server_server_args if tftp_server_server_args is defined else '-s /var/lib/tftpboot' }}
	disable			= {{ 'yes' if tftp_server_disable is defined and tftp_server_disable else 'no' }}
	per_source		= {{ tftp_server_per_source if tftp_server_per_source is defined else '11' }}
	cps			= {{ tftp_server_cps|join(' ') if tftp_server_cps is defined else '100 2' }}
	flags			= {{ tftp_server_flags if tftp_server_flags is defined else 'IPv4' }}
}
